<h2>Registration Form</h2>

<form #registerForm = "ngForm" (ngSubmit) = "onSubmit(registerForm)" class="form-control">
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)] = "user.name" required #name = "ngModel">
    <div *ngIf = "name.invalid && name.touched"> 
        <div *ngIf = "name.errors && name.errors['required']" class="text-danger">Name is required</div>
    </div>
</div>

<div>
    <label for="emaik">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)] = "user.email" required email #email = "ngModel">
    <div *ngIf = "email.invalid && email.touched"> 
        <div *ngIf = "email.errors && email.errors['required']" class="text-danger">Email is required</div>
        <div *ngIf = "email.errors && email.errors['email']" class="text-danger">Invalid email format</div>
    </div>
</div>

<div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)] = "user.password" required #password = "ngModel" minlength="6">
    <div *ngIf = "password.invalid && password.touched"> 
        <div *ngIf = "password.errors && password.errors['required']" class="text-danger">Password is required</div>
        <div *ngIf = "password.errors && password.errors['minlength']" class="text-danger">Password must be atleast 6 characters long </div>
    </div>
</div>
<button type="submit" [disabled]="registerForm.invalid" >Submit</button>
</form>