<!-- <app-data-binding></app-data-binding> -->

<!-- <app-directive></app-directive> -->
<!-- <div class="container">
    <app-todo-app></app-todo-app>
</div> -->

<!-- <div class="container">
    <app-employee-management-system></app-employee-management-system>
</div> -->


<!-- <div class="container mb-5 mt-3">
    data coming from child {{cdata}}
    <h1 class="border border-danger p-3">This is parent component</h1>
    <input type="text" #pdata (keyup)="0">
    <app-child [data] = "pdata.value" (cevent) = "cdata=$event"></app-child>
</div> -->


<!-- <input #inputData type="text">
<app-demo-view-child></app-demo-view-child> -->


<!-- <app-standalone-comp></app-standalone-comp> -->

<div class="container">
    <app-register-component></app-register-component>
</div>