<header class="p-2 text-white">
    <div class="d-flex">
        <div class="align-content-center">
            <span><img
                src="https://th.bing.com/th?id=OIP.nopG8_YfSaxTweSiQdKV5QAAAA&w=229&h=197&c=8&rs=1&qlt=90&o=6&cb=13&dpr=1.3&pid=3.1&rm=2"
                alt="Logo" width="30px" height="30px"></span>
        <span class="m-1">Nure</span>
        </div>
        <div class="align-self-center m-auto">
            <input type="text" placeholder="Search">
            <input type="button" value="Search" class="m-2 border-warning bg-transparent text-white">
        </div>
        <div>
            <button class="border-warning bg-transparent text-white">Login</button>
            <button class="border-warning bg-transparent text-white m-2"><i class="fa-solid fa-cart-shopping"></i></button>
        </div>
    </div>
    <hr class="text-warning">

    <nav><ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    </nav>
 
</header>